/* Colour Scheme
    red: #e30713
    red-text: #d35158
    black: #08090a
    green: #014525 
    cream: #fffbed*/

    body {
        background-color: #014525;
        font-family: "Oregano", sans-serif;
        color: #d35158;
    }
    
    h1 {
        font-family: "Rye", sans-serif;
        color: #fffbed;
    }
    h3 {
        font-family: "Oregano", sans-serif;
        font-size: 2rem;
    }

    button {
        border-radius: 20px;
        border: none;
        padding: 1rem;
        width: 30%;
        font-size: 2rem;
        font-weight: bold;
        font-family: "Oregano", sans-serif;
        color: #014525;
        background-color: #fffbed;
    }

    button:hover {
        color: #d35158;
    }

    #title {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        font-size: 1.25rem;
    }

    #start {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

/*THE PLAYING SURFACE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    #playingSurface {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 3rem;
    }

    #deck {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 25%;
        height: 300px;
        align-self: baseline;
    }
    
    #inPlay {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-self: center;
        flex-basis: 40%;
        height: 300px;
        width: 200px;
    }

    #playButtons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 25%;
    }

    #high {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-self: center;
        width: 100%;
        margin-bottom: 4rem;
    }

    #low {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-self: center;
        width: 100%;
    }

    #rulescountBox{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-self: center;
    }

    #rules {
        border-radius: 20px;
        border: none;
        padding-right: 1rem;
        width: 30%;
        color: #014525;
        background-color: #fffbed;
    }

    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ MEDIA QUERIES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

        /* -- MEDIUM DEVICES (tablets and up -- ≥768px) */
        @media screen and (min-width: 768px){
            /* MAKE TITLE BIGGER*/
            #title {
                font-size: 2rem;
            }
        }