/* Colour Scheme
    red: #e30713
    red-text: #d35158
    black: #08090a
    green: #014525 
    cream: #fffbed*/

body {
    background-color: #014525;
    font-family: "Oregano", sans-serif;
    color: #d35158;
    width: 100vw;
    margin: auto;
}

h1 {
    font-family: "Rye", sans-serif;
    color: #fffbed;
}

h3 {
    font-family: "Oregano", sans-serif;
    font-size: 2rem;
}

button {
    border-radius: 20px;
    border: none;
    padding: 1rem;
    width: 30%;
    font-size: 2rem;
    font-weight: bold;
    font-family: "Oregano", sans-serif;
    color: #014525;
    background-color: #fffbed;
}

button:hover {
    color: #d35158;
}

#startButton {
    width: 60%;
}

#title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    font-size: 1.25rem;
    margin: 1rem;
    text-align: center;
}

#start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#myAces {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

/*THE PLAYING SURFACE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#playingSurface {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 4rem;
}

#deck {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#deckButton {
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/008/854/548/small_2x/poker-card-casino-3d-design-elements-free-png.png");
    background-color: transparent;
    padding: 5rem;
    transform: rotate(78deg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#card-img {
    height: 194px;
}

#inPlay {
    transform: rotate(90deg);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    flex-basis: 40%;
    height: 300px;
    width: 200px;
}

#blankDeck {
    width: 100%;
    height: 100%;
}

#playButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#hiButton {
    padding-inline: 3rem;
}

#loButton {
    padding-inline: 3rem;

}

#high {
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}

#low {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}

#rulescountBox {
    display: flex;
    flex-direction: column-reverse;
    align-self: center;
    justify-items: center;
}

#rules {
    display: flex;
    border-radius: 20px;
    border: none;
    color: #014525;
    background-color: #fffbed;
    flex-basis: 75%;
    margin: 1rem;
    padding: 1rem;
}

#winLose {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    flex-basis: 25%;
    border-radius: 20px;
    margin: 1rem;
    border: none;
    color: #014525;
    background-color: #fffbed;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ MEDIA QUERIES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* -- DIFFERENT PHONE SIZES (400px and up) */
@media screen and (min-width: 400px) {
    #deckButton {
        padding: 25%;
    }
}

/* -- MEDIUM DEVICES (tablets and up -- ≥768px) */
@media screen and (min-width: 768px) {

    /* MAKE TITLE BIGGER*/
    #title {
        font-size: 2rem;
    }


    /*THE PLAYING SURFACE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

    #playingSurface {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 4rem;
        margin: 2rem;
    }

    #card-img {
        transform: rotate(-90deg);
        height: 278px;
        margin: 2rem;
        padding-bottom: 3rem;
    }

    #deck {
        justify-content: center;
        width: 50%;
    }

    #blankDeck {
        margin-right: 2rem;
        width: fit-content;
    }

    #deckButton {
        padding: 37%;
    }

    #playButtons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        width: 25%;
    }

    #high {
        margin-top: 0rem;
        margin-bottom: 4rem;
    }

    #rulescountBox {
        flex-direction: row;
    }

    #winLose {
        padding: 2rem;
        margin-right: 2rem;
    }

    #rules {
        margin-left: 2rem;
        padding-left: 2rem;
        flex-direction: column;
    }
}

/* -- LARGE DEVICES (tablets and up -- 1366 px) */
@media screen and (min-width: 1366px) {
    #title {
        padding-bottom: 7rem;
    }

    #start {
        height: 0rem;
    }

    #deckButton {
        width: 71%;
        transform: rotate(0deg);
    }

    #blankDeck {
        width: fit-content;
        height: 25rem;
    }

    #playingSurface {
        margin-top: 0rem;
    }

    #playButtons {
        width: 25%;
    }

    #card-img {
        transform: rotate(-90deg);
        height: 500px;
        margin: 2rem;
    }

    #rulescountBox {
        margin-top: 3rem;
    }
}